<h2>Create New Figures</h2>

<form action="/figures" method="post">

  <label for="Name">Name: </label>
  <input type="text" name="Name" id="Name">

  <h1>Titles</h1>
  <br>
  <%Title.all.each do |t|%>
  <input type="checkbox" name="title[]" value="<%=t.id%>" id="<%=t.id%>"><label><%=t.name%></label></input>
  <br>
  <%end%>

  <h1>Create New Title</h1>
  <br>
  <input type="text" name="title_name" id="title_name">
  <br>

  <h1>Landmarks</h1>
  <br>
  <%Landmark.all.each do |l|%>
  <input type="checkbox" name="landmark[]" id="<%=l.id%>" value="<%=l.id%>"><label><%=l.name%></label></input>
  <br>
  <%end%>


  <h1>Create New Landmark</h1>
  <br>
  <input type="text" name="landmark_name" id="landmark_name">
  <br>
  <br>

  <input type="submit" id="Submit" value="Create New Landmark">
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
