<table>
  <tr>
    <th>Name</th> &nbsp;&nbsp;&nbsp;
    <th>Title</th>&nbsp;&nbsp;&nbsp;
    <th>Landmark(s)</th> &nbsp;&nbsp;&nbsp;
    <th>Year Completed</th> &nbsp;&nbsp;&nbsp;
  </tr>
  <tr>
    <td>
      <%= @figure.name %>
    </td> &nbsp;&nbsp;&nbsp;
    <td>
      <%@figure.titles.each do |t|%>
      <%= t.name %>
      <%end%>
    </td> &nbsp;&nbsp;&nbsp;
    <td>
      <%@figure.landmarks.each do |l|%>
      <%= l.name %>
      <%end%>
    </td> &nbsp;&nbsp;&nbsp;
    <td>
      <%@figure.landmarks.each do |l|%>
      <%= l.year_completed %>
      <%end%>
    </td> &nbsp;&nbsp;&nbsp;
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
